
<%- include("../header/index")%> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.1.0/intro.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      introJs().setOptions({
        steps: [
          {
            title: 'Bienvenido a Qronecta!',
            intro: 'Estos son los primeros pasos que deberas seguir para una nueva vida en Queretaro digital.'
          },
          {
            element: document.querySelector('.offcanvasButton'),
            intro: 'Este es el icono del menu principal de Qronecta.',
            position: 'left'
          },
          {
            element: document.querySelector('.offcanvasButton'),
            intro: 'Deberas hacer click aqui para poder acceder al menu de la pagina.',
            position: 'left'
          },
          {
            element: document.querySelector('.offcanvasButton'),
            intro: 'Haz click en el boton de menu para continuar!',
            position: 'left'
          }
        ]
        
      }).start();
      introJs().addHints();
    });
    
  </script>

<link rel="stylesheet" href="/css/wave.css">

<%- include("../menu/menuGeneral")%>

<header class="hero">
  <div class="container">
    <section class="hero__container">
      <div class="projects__grid">
    
        <article class="container text-center">
          <div class="hero__texts">
            <h1 class="hero__title " style="color: #0d3b70;">¡Bienvenido a Qronecta!</h1>
            <h2 class="hero__subtitle" style="color: #0d3b70; font-weight: 600;">Comienza a aprender con Qronecta</h2>
            <a href="#scrollspyHeading1"><button class="btn mt-5" style="border-radius: 20px; background-color: #266fb6; color: #fff; width: 200px;"><h1 style="font-size: xx-large;">Iniciar</h1></button> </a>
        </div>
        </article>
    
    </div>  
    </section>
  </div>
  <div id="scrollspyHeading1" class="hero__wave" style="overflow: hidden;" ><svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path class="light-mode-wave" id="wave-color" d="M0.00,49.98 C150.00,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path></svg></div>
</header>
<br><br>

<h2 class="text-center" style="z-index: 999;">Cursos recomendados</h2>
<div id="carouselTodosLosCursos" class="carousel slide" style="width: 90%; margin: auto;">
  <div class="carousel-inner">
    <% var count = 0; %>
    <% cursos.forEach((curso, index) => { %>
      <% if (count % 3 == 0) { %>
        <div class="carousel-item <%= count == 0 ? 'active' : '' %>">
          <div class="row">
      <% } %>
            <div class="col-md-4">
              <a href="/curso/<%= curso.id %>">
                <div class="carousel-image">
                  <video height="400px" src="/videos/<%= curso.video %>?v=<%= Date.now() %>" class="d-block w-100" alt="...">
                  </video>
                  <div class="overlay">
                    <p><%= curso.titulo %></p>
                  </div>
                </div>
              </a>
            </div>
      <% if (count % 3 == 2) { %>
          </div>
        </div>
      <% } %>
      <% count++; %>
    <% }) %>
    <% if (count % 3 != 0) { %>
        </div>
      </div>
    <% } %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTodosLosCursos"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselTodosLosCursos"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<style>
  .carousel-image {
  position: relative;
}

.carousel-image:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay p {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

</style>

<br><br>

<section class="presentation container">

  <img src="/images/Simple_noletra.png" class="presentation__picture" alt="">
  <h2 class="subtitle">¿Quienes somos?</h2>
  <p class="presentation__copy">"En QROnecta, tenemos como misió transformar la interacción ciudadana con los servicios gubernamentales en Querétaro, proporcionando una plataforma intuitiva y educativa que simplifique trámites, fomente la participación activa y cierre la brecha digital. Buscamos empoderar a cada ciudadano, independientemente de su edad, para que acceda y participe de manera informada en los procesos gubernamentales, contribuyendo así a construir una comunidad más conectada y tecnológicamente inclusiva en el estado de Querétaro."</p>
  <div class="subt mt-5">Qué opinan sobre nosotros</div>
  
</section>

<section class="presentation container">
  <div class="containerprov">
    <div id="prov1">
      <img src="https://www.thispersondoesnotexist.com/" alt="persona1" height="80px" width="80px">
      <p>“Hoy mi padre pudo aprender a descargar apps en su telefono gracias a su curso. </p>
      <footer>"Andrea"</footer>
    </div>
    <div id="prov2">
      <img src="https://www.thispersondoesnotexist.com/" alt="persona" height="80px" width="80px">
      <p>“Me gusto mucho porque aprendi como hacer un tramite del SAT, sin salir de mi casa.”</p>
      <footer>"Sew K"</footer>
    </div>
  </div>
</section>



<script>
  document.getElementById('offcanvasButton').addEventListener('click', function () {
      introJs().setOptions({
        steps: [
          {
            title: 'Bienvenido al menu de Qronecta!',
            intro: 'Aqui se te presentan varias opciones que veremos a continuacion.'
          },
          {
            element: document.querySelector('.inicioButton'),
            intro: 'Esta opcion del menu te llevara a esta misma pagina, la pagina de inicio.',
            position: 'left'
          },
          {
            element: document.querySelector('.iniciarSesionButton'),
            intro: 'Esta opcion te llevara a la pagina de inicio de sesion.',
            position: 'left'
          },
          {
            element: document.querySelector('.iniciarSesionButton'),
            intro: 'En esa pagina podras iniciar sesion para que puedas tomar el curso que desees.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'Esta opcion te permitira abrir una pestaña donde encontraras mas opciones.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'La primer opcion te llevara a la seccion de cursos referentes a la realizacion de tramites en linea.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'En ella podras aprender a realizar tramites en plataformas digitales de gobierno.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'La segunda opcion te llevara a la seccion de capacitaciones.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'Aqui podras aprender habilidades valiosas para puestos de trabajo gubernamentales.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'En la ultima opcion accederas a la seccion de redes sociales.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'Aqui podras aprender a usar y manejar tus redes sociales de manera adecuada.',
            position: 'left'
          },
          {
            element: document.querySelector('.ayudaButton'),
            intro: 'En esta opcion ingresaras al apartado de ayuda.',
            position: 'left'
          },
          {
            element: document.querySelector('.ayudaButton'),
            intro: 'En este apartado podras resolver todas las dudas que tengas.',
            position: 'left'
          },
          {
            element: document.querySelector('.cerrarSesionButton'),
            intro: 'Esta ultima opcion te servira para cerrar tu sesion y no permitir que nadie entre sin tu permiso.',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'Volvamos de regreso a esta opcion, "Cursos"',
            position: 'left'
          },
          {
            element: document.querySelector('.cursosButton'),
            intro: 'Para continuar presiona la opcion de cursos!',
            position: 'left'
          },
        ]
        
      }).start();
    });

    // var cursosButton = document.getElementById('cursosButton');
    // cursosButton.addEventListener('click', function (){
    //   introJs().setOptions({
    //     steps: [
    //       {
    //         title: 'Esta es la ultima seccion del menu de Qronecta!',
    //         intro: 'Ahora conoceras los tres tipos de cursos que ofrecemos!'
    //       },
    //       {
    //         element: document.querySelector('.tramitesButton'),
    //         intro: 'Esta opcion te llevara a la seccion de cursos referentes a la realizacion de tramites en linea.',
    //         position: 'left'
    //       },
    //       {
    //         element: document.querySelector('.tramitesButton'),
    //         intro: 'En ella podras aprender a realizar tramites en plataformas digitales.',
    //         position: 'left'
    //       },
    //       {
    //         element: document.querySelector('.capacitacionesButton'),
    //         intro: 'Esta opcion te llevara a la seccion de capacitaciones.',
    //         position: 'left'
    //       },
    //       {
    //         element: document.querySelector('.capacitacionesButton'),
    //         intro: 'Aqui podras aprender habilidades valiosas para puestos de trabajo gubernamentales.',
    //         position: 'left'
    //       },
    //       {
    //         element: document.querySelector('.aprendeButton'),
    //         intro: 'En esta ultima opcion accederas a la seccion de redes sociales.',
    //         position: 'left'
    //       },
    //       {
    //         element: document.querySelector('.aprendeButton'),
    //         intro: 'Aqui podras aprender a usar y manejar tus redes sociales de manera adecuada.',
    //         position: 'left'
    //       },
    //       {
    //         title: 'Haz terminado este primer tour por Qronecta!',
    //         intro: 'Ahora que conoces las opciones del menu y a donde llevan podras navegar a travez de Qronecta.'
    //       },
    //       {
    //         intro: 'Ahora puedes comenzar a aprender a vivir conectado a un Queretaro digital.'
    //       },
    //     ]
        
    //   }).start();
    // });
</script>



<!-- <style>
  video:hover{
    object-fit: cover;
    cursor: pointer;
  }
</style> -->


<%- include("../footer/footerhome")%>